# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file (opcional: normalmente se recomienda subirlo)
# .terraform.lock.hcl

# Terraform directory
.terraform/

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Credenciales
keys/
*.json